.containerfull{
    padding: 50px 50px 50px 50px ;
    background-image: linear-gradient(to right, #f32170, #cf23cf);
}
.containernew{
    padding: 30px 30px 30px 30px;
    background-color: rgb(254, 243, 227);
    border-radius: 50px;
    border:10px solid white
}
.headings{
    background: linear-gradient(to right, #f32170, #cf23cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.button3{
    background-color: rgb(255, 170, 65);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}