@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}

.loginbody {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  position: relative; /* Added */
}

.loginbody::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg"), #000;
  background-position: center;
  background-size: cover;
  z-index: -1; /* Added */
}

/* Wrapper styles */
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  /* text-align: center; */
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.1); /* Added */
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}


h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  /* margin: 15px 0; */
  margin-bottom: 15px;
}

.input-field label {
  position: absolute;
  /* top: 50%; */
  left: 0;
  /* transform: translateY(-50%); */
  color: #fff;
  font-size: 16px;
  /* pointer-events: none;
  transition: 0.15s ease; */
}



.input-field input {
  width: 100%;
  height: 20px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  font-size: 16px;
  color: #fff;
}


/* .input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
} */

/* Button styles */
.button001 {
  margin-top: 20px;
  padding: 12px 24px; /* Adjust padding to increase button size */
  font-size: 16px;
  background-color: #007bff; /* Added background color */
  color: #fff; /* Added text color */
  border: none; /* Added */
  border-radius: 4px; /* Added */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added */
}

.button001:hover {
  background-color: #0056b3; /* Added hover effect */
}
/* 
.input-field input::placeholder {
    color: white;  Change placeholder color to white 
}
*/

.labelname{
  position: relative;
  color: white;
  /* margin: 15px 0; */
  left: 0%;
}